---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <h1 class="text-center text-6xl font-bold">
      Welcome to <span
        class="from-ctp-red to-ctp-blue bg-gradient-to-r bg-clip-text text-transparent"
        >Astro</span
      >
    </h1>
  </main>
</Layout>

<!-- <style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style> -->
