---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - IamGabriel</title>
  </head>
  <body class="bg-ctp-base px-4">
    <nav class="py-4">
      <div class="container mx-auto flex items-center justify-start space-x-4">
        <a href="/" class="hover:text-gray-300">Home</a>
        <a href="/projects" class="hover:text-gray-300">Projects</a>
        <a href="/guestbook" class="hover:text-gray-300">Guestbook</a>
      </div>
    </nav>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: JetBrainsMono;
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: JetBrainsMono;
    src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }

  html {
    color: white;
    font-family: JetBrainsMono, system-ui, sans-serif;
  }
</style>
